body {
  background-image: url('/bgimage.png');
  background-repeat:no-repeat;
  background-position: top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#yi-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 100%;
}

.container{
  /*stuffs that make it nice and centre*/
}


h1{
  color: white;
}

#champ-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
font-size: 1em;
line-height: 1.25em;
margin: 0.625em 0;
text-align: justify;
color: white;
}

p:first-letter {
font-size: 3.5em;
line-height: 1em;
}

p + p:first-letter {
font-size: 1em;
line-height: 1.25em;
}