html {
  background-color: black;
}

h1{
  color: white;
}

#champ-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
font-size: 1em;
line-height: 1.25em;
margin: 0.625em 0;
text-align: justify;
color: white;
}

p:first-letter {
font-size: 3.5em;
line-height: 1em;
}

p + p:first-letter {
font-size: 1em;
line-height: 1.25em;
}