<h1>Choose your champion, Summoner...</h1>

<input type="text" id="search-query">

<div id="image-lander"></div>

<div id="lore-lander"></div>




<button id="yi-button" class="btn btn-primary">I like Master Yi</button>